.header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  position: sticky;
  background-color: rgba(0, 0, 0, 0.363);
  backdrop-filter: blur(4px);
  
}

.logo {
  max-width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}

.nav_menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
  padding: 25px 2%;
}

.nav_menu ul {
  display: flex;
}

.nav_menu a {
  color: white;
  padding: 0 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.70rem;
  transition: 0.2s ease;
}

.nav_menu a:hover {
  color: var(--green);
}

.social_icons {
  width: 100%;
  background-color: rgba(0, 0, 0,0.2);
  display: flex;
  justify-content: flex-end;
  padding: 5px 1.5%;
 
}

.social_icons > div {
  border: solid 1px rgb(128, 128, 128);
  border-radius: 5px;
  margin: 0 5px;
  cursor: pointer;height: 85%;
}