*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  text-decoration: none;
  list-style: none;
}

:root {
  --green: rgba(112, 208, 56, 1);
  --noir_clair: rgba(32, 32, 32, 1);
  --blanc: rgba(255, 255, 255, 1);
  --gris_clair: rgba(255, 255, 255, 0.2);
  --sombre: rgba(16, 16, 16, 1);
  --full_noir: rgba(0, 0, 0, 1);
}


/* }
==================================
              FONTS
=================================== */

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Cinzel&family=Cinzel+Decorative:wght@700&family=Quicksand:wght@500&display=swap");





html, body {
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}
